/* SignUp.css */

.sign-up-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0a0a0a;
  }
  
  .sign-up-box {
    background-color: #0a0a0a;;
    padding: 30px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  }
  
  .sign-up-box h2 {
    margin-bottom: 20px;
    font-size: 28px;
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out;
  }
  
  .form-control:focus {
    outline: none;
  }
  
  .btn-sign-up {
    background-color: #28208c;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    width: 100%;
  }
  
  .btn-sign-up:hover {
    background-color: #1f1a6a;
  }
  
  .alert-info {
    background-color: #d9edf7;
    padding: 10px;
    border-radius: 4px;
    margin-top: 15px;
  }

  .form-group input {
    background-color: #0a0a0a;
    color: #fff; 
    border: 1px solid #444; 
  }
  
  .form-group input:focus {
    background-color: #0a0a0a; 
    outline: none; 
    border-color: #888;
  }
  
  h2, label{
    color: #fff !important;
  }
  

  @media (max-width: 768px) {
    .sign-up-box {
      padding: 20px;
      width: 90%;
    }
  }
  