
.how-it-works-container {
  padding: 20px;
  border-radius: 8px;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.3);
}

.how-it-works-container h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 32px;
}

.steps {
  display: flex;
  flex-direction: column;
}

.step {
  margin-bottom: 40px;
}

.step-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.step-text {
  flex: 1;
  max-width: 50%;
}

.step-image {
  flex: 1;
  max-width: 50%;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.step-image.left {
  order: -1; /* Image comes first when on the left */
}

.step-image.right {
  order: 1; /* Image comes after text when on the right */
}

.step h2 {
  font-size: 24px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.step p {
  font-size: 16px;
  line-height: 1.6;
  text-align: justify;
}

/* Responsive styling */
@media (max-width: 768px) {
  .how-it-works-container h1 {
    font-size: 28px;
  }

  .step h2 {
    font-size: 22px;
  }

  .step p {
    font-size: 14px;
  }

  .step-content {
    flex-direction: column;
  }

  .step-image, .step-text {
    max-width: 100%;
  }
}
